<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Where dreams meet paper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <!-- FON MUSIQA -->
    <audio autoplay loop>
      <source src="{{ url_for('static', filename='bg-music-short.mp3') }}" type="audio/mpeg">
    </audio>

    <!-- Navbar -->
    <header>
        <div class="navbar">
            <a href="/">🏠 Home</a>
            <a href="/add">📝 Add Fanfic</a>
            <a href="/about">❔ About</a>
            <a href="/admin">🔐 Admin</a>
        </div>
    </header>

    <!-- Sahifa kontenti -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>© 2025 Melissa’s Fanfic World. Made with 🫶</p>
    </footer>
</body>
</html>


